.root {
    -fx-font-family: "Segoe UI", "Roboto", "SansSerif";
    -fx-font-size: 12px;
}

.primary-button {
    -fx-background-color: #3f51b5;
    -fx-text-fill: white;
}

.danger-button {
    -fx-background-color: #d32f2f;
    -fx-text-fill: white;
}

.table-view {
    -fx-table-cell-border-color: transparent;
}

#titolo{
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

.sottotitolo{
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.statistica{
    -fx-font-size: 25px;
    /*-fx-font-weight: bold;*/
}

.contatore{
    -fx-font-weight: bold;
}

.bottoni_filtro {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #f0f0f0;   /* grigino */
    -fx-border-color: grey;
    -fx-text-fill: #888888;          /* testo più chiaro */
    -fx-opacity: 0.7;                /* effetto "disabilitato" ma cliccabile */
}

/* Stato selezionato → appare normale / attivo */
.bottoni_filtro_attivo {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-opacity: 1.0;
    -fx-font-weight: bold;
}